<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592813291064-ffn9pn674sep6kaue1q9gthcjf6spkse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592813291064-ffn9pn674sep6kaue1q9gthcjf6spkse</string>
	<key>API_KEY</key>
	<string>AIzaSyCR4D6lTwRJRKPGuQD7NVjX5v_YhlV7X8w</string>
	<key>GCM_SENDER_ID</key>
	<string>592813291064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipesForAll</string>
	<key>PROJECT_ID</key>
	<string>recipes-4-all</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-4-all.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592813291064:ios:892faf6b7b388227dfd8cd</string>
</dict>
</plist>